<!-- INDEX -->
<div class="content-feed">
	<div class="container">
	
		<div class="sidebar">
			<div class="module module-user">
				<span class="user-name">Kevin Wirth</span>
				<span class="user-username">wirthdesign</span>
				<button class="active">Following</button>
			</div>
			<div class="module module-stats">
				<ul class="list-items">
					<li class="item"><span class="stats-count">8</span> <span class="stats-label">Posts</span></li>
					<li class="item"><span class="stats-count">0</span> <span class="stats-label">Following</span></li>
					<li class="item"><span class="stats-count">0</span> <span class="stats-label">Followers</span></li>
				</ul>
			</div>
		</div>
	
		<section>
			<div class="card">
				<a href=""><img src="http://placehold.it/334x212" class="card-photo" /></a>
				<div class="card-info">
					<a href="" class="card-user">wirthdesign</a>
					<a href="" class="fa fa-share-square card-share">&nbsp;</a>
					<span class="card-time">4 hours ago</span>
				</div>
			</div>
			
			<div class="card">
				<a href=""><img src="http://placehold.it/334x212" class="card-photo" /></a>
				<div class="card-info">
					<a href="" class="card-user">wirthdesign</a>
					<a href="" class="fa fa-share-square card-share">&nbsp;</a>
					<span class="card-time">4 hours ago</span>
				</div>
			</div>
			
			<div class="card">
				<a href=""><img src="http://placehold.it/334x212" class="card-photo" /></a>
				<div class="card-info">
					<a href="" class="card-user">wirthdesign</a>
					<a href="" class="fa fa-share-square card-share">&nbsp;</a>
					<span class="card-time">4 hours ago</span>
				</div>
			</div>
			
			<div class="card">
				<a href=""><img src="http://placehold.it/334x212" class="card-photo" /></a>
				<div class="card-info">
					<a href="" class="card-user">wirthdesign</a>
					<a href="" class="fa fa-share-square card-share">&nbsp;</a>
					<span class="card-time">4 hours ago</span>
				</div>
			</div>
		</section>
	
	</div>
</div>
