<div class="">
	<div class="container">
		<% @observations.each do |obsersvation| %>
		     
		     <div class="card">
					<img src="http://<%= obsersvation.photos.first.path %>" class="card-photo" />
					<div class="card-info">
						<%= link_to "wirthdesign", url_for(:controller => 'observations', :action => 'photo', :id =>  obsersvation.id ), :class => 'card-user' %>
						<a href="" class="fa fa-share-square card-share">&nbsp;</a>
						<span class="card-time">4 hours ago</span>
					</div>
			</div>
		<% end %>
	</div>
</div>