<!-- INDEX -->
<div class="content-photo">
	<div class="container">
	
		<div class="sidebar">
			<div class="module module-user">
				<span class="user-name">Kevin Wirth</span>
				<span class="user-username">wirthdesign</span>
				<button>Follow</button>
			</div>
			<div class="module module-details">
				<h3 class="module-title">Post Details</h3>
				<ul class="list-items">
					<li class="item"><label>Field Label</label> Field Value</li>
					<li class="item"><label>Field Label</label> Field Value</li>
					<li class="item"><label>Field Label</label> Field Value</li>
					<li class="item"><label>Field Label</label> Field Value</li>
				</ul>
			</div>
		</div>
	
		<section>
			<img src="http://placehold.it/716x520" />
		</section>
	
	</div>
</div>
