<div class="">
	<div class="container">

		<div class="card">
			<img src="http://placehold.it/334x212" class="card-photo" />
			<div class="card-info">
				<a href="" class="card-user">wirthdesign</a>
				<a href="" class="fa fa-share-square card-share">&nbsp;</a>
				<span class="card-time">4 hours ago</span>
			</div>
		</div>

		<div class="card">
			<img src="http://placehold.it/334x212" class="card-photo" />
			<div class="card-info">
				<a href="" class="card-user">wirthdesign</a>
				<a href="" class="fa fa-share-square card-share">&nbsp;</a>
				<span class="card-time">4 hours ago</span>
			</div>
		</div>

		<div class="card">
			<img src="http://placehold.it/334x212" class="card-photo" />
			<div class="card-info">
				<a href="" class="card-user">wirthdesign</a>
				<a href="" class="fa fa-share-square card-share">&nbsp;</a>
				<span class="card-time">4 hours ago</span>
			</div>
		</div>

	</div>
</div>