<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Spaceapps</title>
  
  <!-- CSS -->
  <link href="file:///Users/kwirth/Sites/spaceapps/app/assets/stylesheets/application.css" rel="stylesheet" type="text/css" media="all" />
  <link href='http://fonts.googleapis.com/css?family=Economica:400,700' rel='stylesheet' type='text/css'>
  
</head>
<body>

<!-- HEADER -->
<header class="header">
	<div class="container">

		<h1 class="logo"><i class="fa fa-rocket">&nbsp;</i>Astrodeo!</h1>

		<div class="nav-public">
			<a href="" class="link">Log in</a>
			<a href="" class="link link-o">Sign in</a>
		</div>

	</div>
</header>


<!-- INDEX -->
<div class="">
	<div class="container">
	
		<div class="card">
			<img src="http://placehold.it/334x212" class="card-photo" />
			<div class="card-info">
				<a href="" class="card-user">wirthdesign</a>
				<a href="" class="fa fa-share-square card-share">&nbsp;</a>
				<span class="card-time">4 hours ago</span>
			</div>
		</div>
		
		<div class="card">
			<img src="http://placehold.it/334x212" class="card-photo" />
			<div class="card-info">
				<a href="" class="card-user">wirthdesign</a>
				<a href="" class="fa fa-share-square card-share">&nbsp;</a>
				<span class="card-time">4 hours ago</span>
			</div>
		</div>
		
		<div class="card">
			<img src="http://placehold.it/334x212" class="card-photo" />
			<div class="card-info">
				<a href="" class="card-user">wirthdesign</a>
				<a href="" class="fa fa-share-square card-share">&nbsp;</a>
				<span class="card-time">4 hours ago</span>
			</div>
		</div>
		
		<div class="card">
			<img src="http://placehold.it/334x212" class="card-photo" />
			<div class="card-info">
				<a href="" class="card-user">wirthdesign</a>
				<a href="" class="fa fa-share-square card-share">&nbsp;</a>
				<span class="card-time">4 hours ago</span>
			</div>
		</div>
	
	</div>
</div>

</body>
</html>
